body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.main-body {
    padding: 30px 30px;
}

/* Header */

.container {
    display: flex;
    justify-content: space-around;
    background: #161616;
    border-radius: 30px;
    width: 1321px;
    height: 646px;

    color: #FFFFFF;
}

.container img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 50px;
}

.header-text {
    margin: 106px 111px;
}

h1 {
    font-weight: 700;
    font-size: 50px;

}

.header-text p {
    font-weight: 400;
    font-size: 15px;
}

.header-text button {
    border: none;
    background: #DD0000;
    border-radius: 5px;
    height: 56px;
    width: 187px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;

}

.header-text span {
    margin-left: 10px;

}

/* Main Section */

.blogs {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-column-gap: 20px
}

.button {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
}

.button button {
    background-color: #FFFFFF;
    border: none;

    border-radius: 10px;
    width: 252px;
    height: 64px;
    color: #161616;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

#blog {
    background-color: #DD0000;
    color: #FFFFFF;
    border: none;


}

.blog {
    width: 312px;
    height: 362px;
    background-color: rgba(240, 255, 255, 0.671);
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px #B9B9B9;
}

.transfer button {
    width: 100px;
    height: 32px;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}

.transfer h3 {
    font-weight: 600;
    font-size: 18px;
}

.blog-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-evenly;
}

.transfer button,
h3,
.blog-icon {
    margin-left: 10px;
}

.blog-transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
}

.view-button button {
    background-color: #DD0000;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    border: none;
    width: 252px;
    height: 64px;
    display: none;
}

/* Footer */

footer {
    margin-top: 100px;
    width: 1408px;
    height: 444px;
    background: #161616;
    text-align: center;

}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;
    margin-bottom: 70px;
}

footer h1 {
    padding-top: 100px;
    color: #FFFFFF;
}

footer a {

    color: #B9B9B9;
    text-decoration: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 16px;

}

@media screen and (max-width:992px) and (min-width:577px) {
    .container {
        width: 734px;
        height: 398px;
    }

    .container img {}
}